@{
    ViewData["Title"] = "Caleb Johnson's Personal Website";
}

<div class="text-center">
    <h3><a href="https://github.com/cjohnson57">Github</a></h3>
    <h3><a href="https://www.linkedin.com/in/caleb-johnson-3286b5141/">Linkedin</a></h3>
    <h3><a href="https://literateaxolotl.com/">Game Dev Website</a></h3>
    <h3><a href="https://www.youtube.com/channel/UCdv1oxIkPzxEto8oZj4AI5Q">Game Dev Youtube</a></h3>
    <h3><a href="https://bsky.app/profile/literateaxolotl.com">Game Dev Bluesky</a></h3>
    <h3>Email: c.johnson.57@outlook.com</h3>
</div>
<div>
    <p>Note about my email: This is an old spam email I check maybe once a week. I don't want to put my newer email on this site publicly, because I don't want it to also become a spam email.</p>
</div>
