@{
    ViewData["Title"] = "Game Dev";
}

<div class="text-center">
    <h3><a href="https://literateaxolotl.com/">Game Dev Website</a></h3>
    <h3><a href="https://www.youtube.com/channel/UCdv1oxIkPzxEto8oZj4AI5Q">Game Dev Youtube</a></h3>
    <h3><a href="https://bsky.app/profile/literateaxolotl.com">Game Dev Bluesky</a></h3>
</div>

<br />

<div>
    <p>
        I'm currently developing a game called Geneti-risks with my girlfriend. Geneti-risks is a hand-drawn, momentum-based platformer where you control a genetic experiment as you try to figure out what sent all the other experiments in your lab going crazy.
        This video is quite old at this point, but it gives you a general idea of what the game looks like. Obviously, graphics are nowhere near final, and physics have been adjusted since then:
    </p>
</div>

<div class="text-center">
    <iframe width="1120" height="630" src="https://www.youtube.com/embed/yHzPWPEmz8I?si=xiPSljUuJd8EmZ4V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

<div>
    <p>
        More frequent updates can be found on our Bluesky.
        To give a vague idea of who does what on the game: I do programming and level design, my girlfriend does art, and we collaboratively do story and characters.
    </p>
</div>