@{
    ViewData["Title"] = "Caleb Johnson's Personal Website";
}

<div class="text-center">
    <h3>Welcome to my site. Here I consolidate information about various things I work on.</h3>    
</div>
<div>
    <p>I'm a <a asp-controller="Home" asp-action="Other">programmer</a> who also dabbles in writing. My primary off-work activity, currently, is <a asp-controller="Home" asp-action="Game">developing a game.</a> I'm also a maintainer for the <a href="https://ootrandomizer.com/">Ocarina of Time Randomizer</a>, and have worked on <a asp-controller="Home" asp-action="Randomizers">other randomizers</a> in the past.</p>
    <p>I enjoy <a asp-controller="Worldbuilding" asp-action="Index">worldbuilding</a>, though I'm no expert at it, and definitely end up hand-waving some things rather than thinking too hard about realistic geopolitics and sociology (though I wish I knew enough to be able to do so).</p>
    <p>I've written a book, which I'd like to publish one day, but it'll need more work first. In the meantime, I'm going to try writing <a asp-controller="Stories" asp-action="Index">more short stories.</a></p>
    <p>I grew up in Louisiana, and got my Bachelor's and Master's in computer engineering from Louisiana State University. My <a href="https://ieeexplore.ieee.org/document/9387363">Master's thesis</a> was a paper on algorithms used for randomizers. I currently live in the greater Los Angeles area.</p>
    <p>In my free time, I have a variety of interests:</p>
    <ul>
        <li>Video Games, especially ones made by Nintendo</li>
        <li>Board Games, especially Spirit Island</li>
        <li>Tabletop RPGs, with DnD being my most played by far, but I've tried at least a dozen systems at this point</li>
        <li>Books, usually fantasy or sci-fi</li>
        <li>Movies</li>
        <li>TV Series, especially animated ones</li>
        <li>Theme Parks</li>
        <li>Swimming</li>
    </ul>
</div>
