@{
    ViewData["Title"] = "Programming";
}

<div class="text-center">
    <h3><a href="https://github.com/cjohnson57">Github</a></h3>
    <h3><a href="https://www.linkedin.com/in/caleb-johnson-3286b5141/">Linkedin</a></h3>
</div>

<br />

<div>
    <p>
        For my job, I primarily develop ASP.NET web applications (like this one), which I have been doing for over 8 years. 
        The sites I develop typically use an Entity Framework connection to a SQL database, which is used to make the site highly customizable so that most regular changes to the site can be made by the clients.
    </p>
    <p>
        I'm also highly proficient in python, having been one of the primary python developers on my senior design project, and writing python notebooks in Databricks for a previous job.
    </p>
    <p>
        I have some experience in machine learning. My senior project involved renting computation time to train ML models. I also used ML models in python/databricks at a previous job for text processing.
    </p>
    <p>
        Some other skills that I enjoy using, but haven't got a chance to since college: Writing verilog, programming microcontrollers/FPGAs, programming GPUs, and writing assembly (except occasionally for game hacking).
    </p>
</div>
