@{
    ViewData["Title"] = "Privacy";
}

<div class="text-center">
    <h1 class="display-4">Just in case I need this for some reason...</h1>
    <h2>This site collects no data, I don't want to know who you are or anything about you.</h2>
    <h3>
        Ok, that's <i>technically</i> not completely true. When a page is visited, it logs that the page was visited and at what time, for the <a asp-controller="Home" asp-action="Stats">site stats page.</a>
        That's it. I don't track where the visit came from or anything about the visitor. I don't even try to distinguish between real people and bots.
    </h3>
</div>
