@{
    ViewData["Title"] = "Randomizers";
}

<div>
    <h3><a href="https://ieeexplore.ieee.org/document/9387363">My Master's Thesis</a></h3>
    <p>
        When I first discovered randomizers, I was very interested in how their logic and item placement worked. TestRunner, one of the OG devs of OoT Randomizer and tech lead for Games Done Quick, helped me out and gave me a lot of info.
        However, I found that most of this info wasn't formally defined or even published anywhere. Since I felt like I was making no progress on my current thesis topic, I convinced my advisor to let me switch to this.
        In this paper, I give an overview of what a randomizer is, go over the 3 main algorithms for item placement in randomizers, and compare each of their pros and cons.
    </p>
    <h3><a href="https://ootrandomizer.com/">Ocarina of Time Randomizer</a></h3>
    <p>
        The first randomizer I discovered, after wanting to try it when seeing an Achievement Hunter let's play of it.
        For a while I only made small contributions, but eventually became one of the primary maintainers of the project, approving and merging PRs from others.
        I've developed several major features including key rings, custom player models, and custom music on the website version of the app.
    </p>
    <h3><a href="https://github.com/gamestabled/OoT3D_Randomizer">Ocarina of Time 3D Randomizer</a></h3>
    <p>
        When the randomizer for the 3DS version of Ocarina of Time came out, I noticed that the fill algorithm needed some fixing up. 
        After doing so, I continued working on it for a long while, making many fixes developing several major features. These include key rings, shopsanity, and an all locations reachable toggle.
    </p>
    <h3><a href="https://dk64randomizer.com/">Donkey Kong 64 Randomizer</a></h3>
    <p>
        I was lamenting that DK64 didn't have a randomizer, when I learned that there was one under development. I knew I had to get in on it.
        Despite only working on it for a short time, this is my most major contribution to a randomizer. I wrote the initial logic files, and wrote the system for parsing those files, placing items, and randomizing entrances from scratch.
        I didn't do too much after the initial development, but I loved getting to put my ideas of how a randomizer should be put together into action.
    </p>
</div>

