@{
    ViewData["Title"] = "Site Stats";
}
@model List<PageVisitStats>

<table id="pageVisitsTable" class="display">
    <thead>
        <tr>
            <th>Page</th>
            <th>Visits Ever</th>
            <th>Visits in the Last Year</th>
            <th>Visits in the Last Month</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stat in Model)
        {
            <tr>
                <td>@stat.URL</td>
                <td>@stat.VisitsEver</td>
                <td>@stat.VisitsYear</td>
                <td>@stat.VisitsMonth</td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#pageVisitsTable').DataTable({
            order: [[1, 'desc']] //Sort by VisitsEver, descending
        });
    });
</script>