html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

header {
    background-color: #181818;
    color: white;
}

footer {
    background-color: #181818;
}

body {
    margin-bottom: 60px;
    background-color: #202020;
    color: #DBD8D8;
}

.flex-navitems {
    justify-content: space-evenly;
    width: 100%;
}

.nav-home {
    margin-left: 1%;
    margin-right: 1%;
}

.nav-item {
    flex: 1 1 0%;
    text-align: center;
}

.navbar-brand {
    padding-left: 0% !important;
    padding-right: 0% !important;
    margin-right: 0% !important;
    margin-right: 0% !important;
}

@media (max-width: 575px) {
    .hide-mobile {
        display: none;
    }
}

@media (min-width: 576px) {
    .hide-not-mobile {
        display: none;
    }
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media (max-width: 575px) {
    .footer-container {
        flex-direction: column;
    }
}

.footer-item {
    margin-right: 10%;
}

.story-content {
    line-height: 2;
}

.vertical-item-container-full {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
}

.vertical-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}